@model IEnumerable<Chipotle.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Order Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormFactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Protein)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lettuce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cheese)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quacamole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourCream)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotSauce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MildSauce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalsaVerde)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormFactor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Protein)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lettuce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cheese)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quacamole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourCream)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotSauce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MildSauce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalsaVerde)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
